<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.w3.org/1999/xhtml">-->
<!--<body>-->
<!--&lt;!&ndash;<span th:text="${countries.name} + " " +"&ndash;&gt;-->
<!--&lt;!&ndash;Location: <span th:text="${Countries.name} + ' ' +${States.name} + ' ' + ${Cities.name}"/>&ndash;&gt;-->
<!--&lt;!&ndash;<h1>Submitted Data</h1>&ndash;&gt;-->
<!--&lt;!&ndash;<p>Selected Country : <span th:text="${country}"></span></p>&ndash;&gt;-->
<!--&lt;!&ndash;<p>Selected State: <span th:text="${state}"></span></p>&ndash;&gt;-->
<!--&lt;!&ndash;<p>Selected City: <span th:text="${city}"></span></p>&ndash;&gt;-->

<!--</body>-->
<!--</html>-->

<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--    <title>Confirmed Location</title>-->
<!--</head>-->
<!--<body>-->

<!--<h1>Confirmed Location</h1>-->

<!--<p>Selected Country: <span th:text="${country}"></span></p>-->
<!--<p>Selected State: <span th:text="${state}"></span></p>-->
<!--<p>Selected City: <span th:text="${city}"></span></p>-->

<!--<a href="/form">Go Back</a>-->

<!--</body>-->
<!--</html>-->

<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Confirmed Location</title>
</head>
<body>

<h1>Confirmed Location</h1>
<p>User: <span th:text="${finalform.user}"></span></p>
<p>Selected Country : <span th:text="${finalform.country}"></span></p>
<p>Selected State : <span th:text="${finalform.state}"></span></p>
<p>Selected City : <span th:text="${finalform.city}"></span></p>

</body>
</html>